body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
}

.controlls {
  /* min-width: 30vw; */
  background-color: #fafafa;
  padding: 1rem;
}
.controlls h3 {
  margin-top: 0;
}

.controlls ul {
  padding: 0;
  list-style-type: none;
}

.mapboxgl-map {
  flex: 1;
}
