body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
}

.controlls {
  background-color: #fafafa;
  padding: 1rem;
}
.controlls h3 {
  margin-top: 0;
}

.components,
.components input {
  font-family: monospace;
  font-size: 0.8rem;
  padding-left: 0;
}

.components > li {
  display: flex;
}

ul {
  list-style-type: none;
}

.components ul {
  padding-left: 1rem;
}

.attribute {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}
li + li {
  /* margin-top: 0.5rem; */
}

/* 
ul {
  list-style-type: none;
  padding-left: 1rem;
  margin: .5rem 0;
}
li + li {
  margin-top: .5rem;
}
.controlls > ul {
  padding: 0;
}

.controlls > ul > li {
  display: flex;
}

.controlls > ul > li > div {
  margin-left: .5rem;
}

.attribute {
  display: flex;
}
.attribute input {
  flex: 1;
}

*/
.mapboxgl-map {
  flex: 1;
}
